1. Display Fibonacci Series upto 10 terms

In [5]:

nterms = 10;
n1, n2 = 0, 1
count = 0
while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

0
1
1
2
3
5
8
13
21
34

2. Display numbers at the odd indices of a list

In [7]:
list1 = [1, 2, 3, 4, 5, 6, 7]
even_num = []
for i in range(0, len(list1)):
    if i % 2:
        even_num.append(list1[i])
print(even_num)

[2, 4, 6]

3. Print a list in reverse order

In [8]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list1.reverse()
print(list1)

[7, 6, 5, 4, 3, 2, 1]

4. Your task is to count the number of different words in this text

In [9]:
tstring = """
	ChatGPT has created this text to provide tips on creating interesting paragraphs.
	First, start with a clear topic sentence that introduces the main idea.
	Then, support the topic sentence with specific details, examples, and evidence.
	Vary the sentence length and structure to keep the reader engaged.
	Finally, end with a strong concluding sentence that summarizes the main points.
	Remember, practice makes perfect!
	"""
count = len(tstring.split())
print(count)

62

5. Write a function that takes a word as an argument and returns the number of vowels in the word

In [10]:
def count_vowels(string1):
    vowels = "AEIOUaeiou"
    count = 0
    for char in string1:
        if char in vowels:
            count += 1
    return count
string1 = "NYU Tandon School of Engineering"
result = count_vowels(string1)
print(result)

11

6. Iterate through the following list of animals and print each one in all caps.

In [11]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for a in animals:
    print(a.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

7. Iterate from 1 to 15, printing whether the number is odd or even

In [13]:
for number in range(1, 16):
    if number % 2 == 0:
        print(number," is even")
    else:
        print(number," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd

 8. Take two integers as input from user and return the sum

In [17]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1+num2
print("Sum =", sum)

Enter the first number: 4
Enter the second number: 5
Sum = 9